<div class="ui center aligned content">
  <h1 class= "ui small center aligned heading blue-color2" ><%= board.board_name%></h1>
    <h4 class="ui small color3 button"> <%=link_to 'View Lists', board_lists_path(board) %></h4>
  <br/>
  <br/>
  <hr/>
  <div class="ui extra content">
    <i class="pencil alternate icon"><%= link_to "", edit_board_path(board), class:"padding1" %></i>
    <i class="trash alternate icon"><%= link_to "", board, method: :delete, class:"padding1"%></i>
  </div>
</div>
